<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Google Maps Crossover Integration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card"> 
      <ion-card-header>
        <ion-card-title>Welcome to Google Google Maps</ion-card-title>
        <ion-card-subtitle>Introduce yourself with the experience of different Google Maps Integration</ion-card-subtitle>
        <form [formGroup]="placeCreateForm" (ngSubmit)="addPlaces(form)">
          <ion-item>
            <ion-label position="fixed">Place Description</ion-label>
            <ion-input name="Description" placeholder="Enter Place Description" formControlName="Description" required></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="placeCreateForm.controls.Description.invalid && placeCreateForm.controls.Description.dirty">{{getErrorMessage('Description')}}</ion-label>
          <ion-item>
            <ion-label position="fixed">Place Type</ion-label>
            <ion-select name="Type" placeholder="Select One" formControlName="Type" required>
              <ion-select-option value="cafeteria">Cafeteria</ion-select-option>
              <ion-select-option value="library">Library</ion-select-option>
              <ion-select-option value="classroom">Classroom</ion-select-option>
              <ion-select-option value="office">Office</ion-select-option>
              <ion-select-option value="playground">Play Ground</ion-select-option>
            </ion-select>
          </ion-item> 
          <ion-label color="danger" *ngIf="placeCreateForm.controls.Type.invalid && placeCreateForm.controls.Type.dirty">{{getErrorMessage('Type')}}</ion-label>
          <ion-button type="submit" color="primary" [disabled]="placeCreateForm.invalid">Add Place</ion-button>
          <ion-button color="primary" (click)='submitRoute();'>Submit Route</ion-button>
        </form>
      </ion-card-header>
      <ion-card-content> 
          <agm-map 
            [latitude]="latitude" 
            [longitude]="longitude" 
            [zoom]="zoom" >
              <agm-marker *ngFor="let place of places"
              [latitude]="place.latitude" 
              [longitude]="place.longitude"></agm-marker> 
            </agm-map>
      </ion-card-content>
    </ion-card> 
</ion-content>
