<ion-content>
    <form [formGroup]="registerationForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Create your account!</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input  name="FirstName" type="text" formControlName="FirstName" required></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="registerationForm.controls.FirstName.invalid && registerationForm.controls.FirstName.dirty">{{getErrorMessage('FirstName')}}</ion-label>
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input  name="LastName" type="text" formControlName="LastName" required></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="registerationForm.controls.LastName.invalid && registerationForm.controls.LastName.dirty">{{getErrorMessage('LastName')}}</ion-label>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input name="EmailAddress" type="email" formControlName="EmailAddress" required></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="registerationForm.controls.EmailAddress.invalid && registerationForm.controls.EmailAddress.dirty">{{getErrorMessage('EmailAddress')}}</ion-label>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input name="Password" type="password" formControlName="Password" required></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="registerationForm.controls.Password.invalid && registerationForm.controls.Password.dirty">{{getErrorMessage('Password')}}</ion-label>
              <ion-item>
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input name="ConfirmPassword" type="password" formControlName="ConfirmPassword" required></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="registerationForm.controls.ConfirmPassword.invalid && registerationForm.controls.ConfirmPassword.dirty">{{getErrorMessage('ConfirmPassword')}}</ion-label>
            </div>
            <div padding>
              <ion-button type="submit" [disabled]="registerationForm.invalid">Register</ion-button><br>
              <a type="button" routerLink="/login" expand="block">Already Registered..!</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>