<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Places Mapping
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> 
      <form [formGroup]="placeMappingForm" (ngSubmit)="submitPlaceMapping(form)">
        <ion-card class="welcome-card"> 
          <ion-card-content> 
            <ion-row>
              <ion-col>  
                <ion-item>
                  <ion-label>From Place</ion-label>
                  <ion-select name="FromPlace" formControlName="FromPlace" (ionChange)="selectedPlace($event)">
                    <ion-select-option *ngFor="let marker of markers;let i = index" value="{{i}}">{{marker.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>  
                <ion-item>
                  <ion-label>To Place</ion-label>
                  <ion-select name="ToPlace" formControlName="ToPlace" multiple>
                    <ion-select-option *ngFor="let marker of remainingMarkers;let i = index" value="{{i}}">{{marker.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <div>  
              <ion-button type="submit" slot="end" color="primary" [disabled]="placeMappingForm.invalid"><ion-icon name="send"></ion-icon> Submit</ion-button>
            </div>
          </ion-card-content>
        </ion-card> 
        <ion-card> 
          <ion-card-content> 
              <ion-list>
                  <ion-list-header>
                    All Places
                  </ion-list-header>
                <ion-item *ngFor="let place of markers; let i = index;">
                  <ion-avatar slot="start">
                    <ion-icon name="{{place.Type.icon}}"></ion-icon>
                  </ion-avatar>
                  <ion-label>
                    <h2>{{place.name}}</h2>
                    <h3>{{place.Type.name}}</h3>
                    <p>{{place.description}}</p>
                  </ion-label>
                  <ion-button color="primary" (click)='viewMarker(i)' slot="end" ><ion-icon name="eye"></ion-icon></ion-button> 
                </ion-item>
              </ion-list>
          </ion-card-content>
        </ion-card> 
      </form>
  </ion-content>
  
  