<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Admin Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>No Of Users</ion-card-subtitle> 
              </ion-card-header>
            
              <ion-card-content> 
                  <ion-badge color="primary">{{noOfUsers}}</ion-badge>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>No Of Markers</ion-card-subtitle> 
                </ion-card-header>
              
                <ion-card-content> 
                    <ion-badge color="danger">{{noOfMarkers}}</ion-badge>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
    <ion-card class="welcome-card"> 
      <ion-card-header>
        <ion-card-title>All Places</ion-card-title> 
      </ion-card-header>
      <ion-card-content>
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker *ngFor="let place of polyline; let i = index"
              [latitude]="place.latitude" 
              [longitude]="place.longitude">
              <agm-info-window>{{i+1}} - {{place | json}}</agm-info-window>
          </agm-marker>
        </agm-map>
      </ion-card-content>
    </ion-card> 
</ion-content>
