<ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="login(form)">
      <ion-grid align-self-center>
        <ion-row  justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Login</h3>
            </div>
            <div padding> 
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input name="EmailAddress" type="email" formControlName="EmailAddress" required>
                </ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="loginForm.controls.EmailAddress.invalid && loginForm.controls.EmailAddress.dirty">{{getErrorMessage('EmailAddress')}}</ion-label>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input name="Password" type="password" formControlName="Password" required></ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="loginForm.controls.EmailAddress.invalid && loginForm.controls.EmailAddress.dirty">{{getErrorMessage('Password')}}</ion-label>
            </div>
            <div padding text-center>
              <ion-button type="submit" [disabled]="loginForm.invalid" class="ion-margin-bottom">Login</ion-button><br>
              <a type="button" routerLink="/register">Register here..!</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>